html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #5d5d5d; }

h1 {
  margin-top: 135px;
  font-family: "Yeseva One", cursive;
  font-size: 90px;
  line-height: 117px;
  color: #f5f4f4;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }

h2 {
  margin-top: 0;
  font-family: "Yeseva One", cursive;
  font-size: 36px;
  line-height: 46px; }

h3,
.meals-price {
  font-family: "Yeseva One", cursive;
  font-size: 21px;
  line-height: 27px; }

.h2-gold,
.h3-gold {
  color: #cc9900; }

.h2-white {
  color: #f5f4f4;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }

.white {
  color: #c7c7c7; }

.h2-gold:after,
.h2-white:after {
  content: "";
  display: block;
  width: 247px;
  height: 24px;
  margin: 0 auto;
  margin-top: 20px; }

.h3-white:after {
  content: "";
  display: block;
  width: 199px;
  height: 19px;
  margin: 0 auto;
  margin-top: 20px; }

.h2-gold:after {
  background: url("../img/decor-h2-gold.png") no-repeat; }

.h2-white:after {
  background: url("../img/decor-h2.png") no-repeat; }

.h3-white:after {
  background: url("../img/decor-h3.png") no-repeat; }

.wrapper.main-footer {
  padding: 60px 0;
  background-color: #191919;
  color: #c7c7c7; }
  .wrapper.main-footer h3 {
    margin-top: 0; }

.about-us,
.opening,
.location {
  padding: 0 10px;
  text-align: center; }

.about-us {
  width: 30%;
  margin-right: 10%; }

.opening {
  width: 20%;
  margin-right: 13%; }

.location {
  width: 20%; }

.copyrights {
  display: none;
  width: 100%;
  text-align: center;
  font-style: italic; }

.feedback-form {
  font-family: "Open Sans", "Arial", sans-serif; }
  .feedback-form formgroup {
    margin-bottom: 20px; }
  .feedback-form label {
    display: block;
    width: 200px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: #cc9900; }
  .feedback-form input {
    width: 185px;
    padding: 7px 5px 7px 10px;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    outline: none;
    border: 1px solid #c8c6c6; }
    .feedback-form input:active {
      outline: none; }
    .feedback-form input:focus {
      outline: none;
      border-color: #cc9900; }

.body-shadow {
  max-width: 1600px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 0; }

.wrapper {
  margin: 0 auto;
  padding: 0; }

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0; }

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }

.container-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }

.container-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.container-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; }

.container-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

.main-header {
  min-height: 750px;
  text-align: center;
  background: url("../img/header-bg.png") no-repeat; }

.logo {
  position: absolute;
  top: 10px;
  display: block;
  width: 156px;
  height: 92px; }

.header-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0; }
  .header-navigation ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 40px 25px 10px 25px;
    border-top: 3px solid transparent; }
    .header-navigation ul li:hover {
      border-top: 3px solid rgba(255, 255, 255, 0.7); }
    .header-navigation ul li a {
      font-family: "Gentium Book Basic", "Times New Roman" serif;
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
      color: #fff; }

h1:after {
  content: "";
  display: block;
  width: 232px;
  height: 43px;
  margin: 0 auto;
  margin-top: 40px;
  background: url("../img/decor-h1.png") no-repeat; }

.header-btn {
  width: 225px;
  height: 55px;
  font-family: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #f5f4f4;
  border: 1px solid;
  outline: none;
  transition: transform 0.3s; }
  .header-btn:active {
    transform: scale(0.9); }

.book-table {
  margin-right: 15px;
  background: rgba(0, 0, 0, 0.5);
  border-color: #000; }
  .book-table:hover {
    background: rgba(0, 0, 0, 0.7); }

.set-menu {
  margin-left: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-color: #fff; }
  .set-menu:hover {
    background: rgba(255, 255, 255, 0.7); }

.feedback-btn {
  width: 200px;
  height: 37px;
  margin: 0 auto;
  margin-top: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  color: #f5f4f4;
  background: #c9a131;
  border: none;
  outline: none;
  transition: transform 0.3s; }
  .feedback-btn:active {
    transform: scale(0.9); }

/* Секция 1 "О блюдах" */
.section1 {
  min-height: 710px;
  background: url("../img/section1-pattern2.png"), url("../img/section1-bg-shadow.png") no-repeat; }

.about-food {
  width: 37%;
  padding: 0 10px;
  margin-top: 100px;
  margin-left: 40px;
  text-align: center; }

.chef-photo {
  position: relative;
  min-height: 170px;
  margin-top: 50px; }
  .chef-photo img {
    position: absolute;
    left: 135px; }

.meal-photo {
  width: 52%;
  margin-top: 50px;
  margin-right: 40px; }

/* Секция 2 "Ингридиенты" */
.section2 {
  min-height: 758px;
  background: url("../img/section2-bg.png") no-repeat; }

.about-ingredients {
  width: 410px;
  height: 400px;
  margin-top: 100px;
  padding: 80px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

.ingredients {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }
  .ingredients-photo {
    width: 110px;
    height: 110px;
    border-radius: 50%; }

/* Меню блюд */
.meal-menu {
  min-height: 895px;
  padding-top: 100px;
  background: url("../img/section2-pattern2.png"), url("../img/section2-shadow.png") no-repeat; }

.menu-box {
  width: 435px; }
  .menu-box h2 {
    text-align: center; }
  .menu-box h3 {
    margin: 10px 0; }
  .menu-box p {
    margin-top: 10px; }
  .menu-box hr {
    margin: 0;
    border: none;
    color: rgba(254, 153, 0, 0.3);
    background-color: rgba(254, 153, 0, 0.3);
    height: 1px; }

.meals {
  position: relative;
  margin-bottom: 30px; }

.meals-price {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Yeseva One", cursive;
  font-size: 21px;
  line-height: 27px;
  color: #cc9900; }

/* Отзывы клиентов */
.reviews {
  min-height: 758px;
  background: url("../img/reviews-bg.png") no-repeat; }

.guest-reviews {
  width: 770px;
  height: 477px;
  margin-top: 100px;
  padding-top: 80px;
  text-align: center;
  border-radius: 5px;
  background: url("../img/reviews-mask.png") no-repeat; }
  .guest-reviews blockquote {
    line-height: 46px;
    font-family: "Yeseva One", cursive;
    font-size: 21px;
    color: #dde0df; }

.reviewer-name {
  color: #dde0df; }

/*  */
.feedback {
  min-height: 580px;
  padding-top: 100px;
  padding-bottom: 30px;
  background: url("../img/section1-pattern2.png"), url("../img/feedback-bg-shadow.png") no-repeat; }

.food-photo1 {
  margin-right: 30px; }

.food-photo2 {
  margin-right: 100px; }

.food-photo1,
.food-photo2 {
  width: 23%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 5px 10px 2px rgba(0, 0, 0, 0.4); }

.feedback-block {
  width: 37%;
  padding: 0 15px;
  text-align: center; }

@media all and (max-width: 1108px) {
  h1 {
    margin-top: 40px;
    font-size: 60px; }

  .feedback-block {
    width: 50%; }
  .feedback .container-flex-start {
    justify-content: center; }

  .food-photo1,
  .food-photo2 {
    position: absolute;
    opacity: 0.6; }

  .food-photo1 {
    left: 12px; }

  .food-photo2 {
    right: -90px; } }
@media all and (max-width: 925px) {
  .section1 .container-flex {
    justify-content: center; }

  .section1,
  .feedback {
    background: rgba(0, 0, 0, 0.1) url("../img/section1-pattern2.png"); }

  .meal-menu {
    background: rgba(0, 0, 0, 0.1) url("../img/section2-pattern2.png"); }

  .meal-photo {
    position: absolute;
    top: 172px;
    left: 237px;
    opacity: 0.3; }

  .chef-photo {
    display: none; }

  .about-ingredients {
    position: absolute;
    left: 50%;
    margin-left: -285px; }

  .main-footer .container-flex-start {
    flex-wrap: nowrap; }
    .main-footer .container-flex-start .h3-white:after {
      display: none; } }
@media all and (max-width: 780px) {
  .header-navigation {
    margin-left: 200px; }
    .header-navigation ul li {
      padding: 40px 10px 10px 10px; }

  .feedback-form formgroup {
    width: 100%; }
  .feedback-form input {
    width: 100%; } }
@media all and (max-width: 593px) {
  .about-us,
  .opening,
  .location {
    display: none; }

  .copyrights {
    display: block; }

  h1 {
    font-size: 37px;
    line-height: 60px; }

  .section1 {
    margin-left: 0; }

  .about-food {
    width: 73%; } }
@media all and (max-width: 499px) {
  .header-btn {
    margin-bottom: 15px; }

  .book-table {
    margin-right: 0; }

  .set-menu {
    margin-left: 0; } }

/*# sourceMappingURL=main.css.map */
