@media all and (max-width: 1108px) {
    h1 {
        margin-top: 40px;
        font-size: 60px;
    }
    .feedback {
        
        &-block {
            width: 50%;
        }
        .container-flex-start {
            justify-content: center;
        }
    }
    .food-photo1,
    .food-photo2 {
        position: absolute;
        opacity: 0.6;
    }
    .food-photo1 {
        left: 12px;
    }
    .food-photo2 {
        right: -90px;
    }
}
@media all and (max-width: 925px) {
    .section1 {
        
        .container-flex {
            justify-content: center;
        }
    }
    .section1,
    .feedback {
        background: rgba(0,0,0,.1) url("../img/section1-pattern2.png");
    }
    .meal-menu {
        background: rgba(0,0,0,.1) url("../img/section2-pattern2.png")
    }
    .meal-photo {
        position: absolute;
        top: 172px;
        left: 237px;
        opacity: 0.3;
    }
    .chef-photo {
        display: none;
    }
    
    .about-ingredients {
        position: absolute;
        left: 50%;
        margin-left: -285px;
    }
    
    .main-footer {
        
        .container-flex-start {
            flex-wrap: nowrap; 
            
            .h3-white:after {
                display: none;
            }
        }
    }
}
@media all and (max-width: 780px) {
    .header-navigation {
        margin-left: 200px;
        
        ul {
        
            li {
                padding: 40px 10px 10px 10px;
            }
        }
    }
    
    .feedback-form {
        
        formgroup {
            width: 100%;
        }
        
            input {
                width: 100%;
            }
    }
}
@media all and (max-width: 593px) {
    .about-us,
    .opening,
    .location {
        display: none;
    }
    .copyrights {
        display: block;
    }
    
    h1 {
        font-size: 37px;
        line-height: 60px;
    }
    
    .section1 {
        margin-left: 0;
    }
    
    .about-food {
        width: 73%;
    }
}
@media all and (max-width: 499px) {
    .header-btn {
        margin-bottom: 15px;
    }
    
    .book-table {
        margin-right: 0;
    }
    .set-menu {
        margin-left: 0;
    }
}


