.section1 {
    min-height: 710px;
    background: url("../img/section1-pattern2.png"),
                url(../img/section1-bg-shadow.png) no-repeat;
}
.about-food {
    width: 37%;
    padding: 0 10px;
    margin-top: 100px;
    margin-left: 40px;
    text-align: center;
}
.chef-photo {
    position: relative;
    margin-top: 50px;
    
    img {
        position: absolute;
        left: 135px;
    }
}
.meal-photo {
    margin-top: 50px;
    margin-right: 40px;
}

.h2-gold:after,
.h2-white:after {
    content: "";
    display: block;
    width: 247px;
    height: 24px;
    margin: 0 auto;
    margin-top: 20px;
}
.h3-white:after {
    content: "";
    display: block;
    width: 199px;
    height: 19px;
    margin: 0 auto;
    margin-top: 40px;
}

.h2-gold:after {
    background: url("../img/decor-h2-gold.png") no-repeat;
}
.h2-white:after {
    background: url("../img/decor-h2.png") no-repeat;
}
.h3-white:after {
    background: url("../img/decor-h3.png") no-repeat;
}

.section2 {
    min-height: 758px;
    background: url("../img/section2-bg.png") no-repeat;
}
